.main-post-wrapper {
  padding: 0 30px;
}

.main-post-title {
  color: #3C86B5;
  margin-bottom: 0;
}

.time-ago {
  font-size: 10px;
}

.avatar, .img-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-author-wrapper {
  display: flex;
  flex-direction: row;
}

.avatar-name, .avatar-bio {
  margin: 0 12px;
}

.avatar-bio {
  font-size: 10px;
}

.description-header {
  margin-top: 28px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  color: #656565;
}

.description {
  color: #656565;
  font-size: 14px;
}

.avatar-blurb {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.post-comment-author-wrapper {
  display: flex;
  justify-content: space-between;
}

.post-comment-author-timestamp {
  font-size: 9px;
  color: rgba(0,0,0,0.38);
  text-align: right;
  font-weight: 600;
}

.tag-wrapper > span > span {
  font-size: 9px;
}

.tag-wrapper {
  padding: 0 12px;
}

.avatar-title-wrapper {
  display: flex;
  flex-direction: row;
}